@import '~bootstrap/scss/bootstrap';
$black: black;
$maroon: maroon;
$green: green;
$olive: olive;
$navy: navy;
$purple: purple;
$teal: teal;
$silver: silver;
$gray: gray;
$red: red;
$lime: lime;
$yellow: yellow;
$blue: blue;
$fuchsia: fuchsia;
$aqua: aqua;
$white: white;

body {
  background-color: $navy;
  color: $white;
  font-family: 'Press Start 2P', cursive;
}

form {
  .auth-toggle {
    color: $aqua;
    user-select: none;

    &:hover {
      color: $purple;
    }

    &:active {
      color: $yellow;
    }
  }
}

header {
  align-items: center;
  background-color: $black;
  color: $aqua;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p {
  margin: 0;
}

table {
  border-left: 4px solid $white;
  border-right: 4px solid $white;
  border-collapse: collapse;
  width: 100%;

  td {
    border-right: 4px solid $white;
    padding: 8px;
  }

  th {
    background-color: $purple;
    border-right: 4px solid $white;
    color: $black;
    padding: 8px;
  }

  tr {
    &:hover {
      background-color: $gray;
    }
  }

  .button-column {
    border-right: 0;
  }
}

.auth-form {
  border: 4px double $white;
  box-shadow: 20px 20px $black;
  color: $yellow;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

.button {
  border: 0;
  background-color: $purple;
  color: $black;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  // padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  text-decoration: none;

  .menu-choice {
    color: $yellow;
  }

  &:hover {
    background-color: $aqua;
  }

  &:active {
    background-color: $yellow;
  }
}

.change-pw-success {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-menu {
  background-color: $navy;
  border: 4px double $white;
  border-radius: 0;
  color: $yellow;

  .dropdown-item {
    user-select: none;

    &:hover {
      background-color: $gray;
    }
  }
}

.inventory-table-controls {
  align-items: center;
  background-color: $gray;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0.5rem;
}

.modal-content {
  background-color: $navy;
  border: 4px double $white;
  border-radius: 0;
  box-shadow: 20px 20px $black;
}

.modal-feedback {
  padding: 1rem;
}

.feedback-box {
  height: 30px;
  text-align: center;
}

.form-button {
  margin-bottom: 0.5rem;
}

.table-controls {
  padding: 0.5rem;
}

.user-feedback-container {
  flex-grow: 1;
  text-align: center;
}

.storefront-table {
  display: flex;
  justify-content: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
}
